.span {
  font-size: 20px;
  border: 2px solid green;
  border-radius: 5px;
  padding: 15px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
